@import 'constants.styl'
@import 'fonts.styl'
@import 'utils.styl'


border-color = colorEmp1
border-color-hover = colorSec1
border-color-disabled = mix(colorText1, colorBg, 10%)
text-color = colorEmp1
text-color-hover-1 = colorSec1
text-color-disabled = mix(colorText1, colorBg, 50%)
bg-color = colorBg
bg-color-hover = saturation(bg-color, 120%)
bg-color-disabled = mix(colorText1, colorBg, 10%)

text-color-hover-2 = colorText1
shadow-color = mix(black, transparent, 70%)


button()
  cursor pointer
  user-select none
  box-sizing border-box
  padding 7px
  color text-color
  text-shadow none
  background bg-color
  border border-color solid 1px
  border-radius borderRadiusM
  transition all 0.2s ease
  font-small()
  font-bold()
  centered-margin()
  centered-flex-container()

  &:hover
    color text-color-hover-1
    border-color border-color-hover
  // box-shadow 5px 5px 15px shadow-color

  &[disabled]:not([disabled="false"])
    pointer-events none
    color text-color-disabled
    background bg-color-disabled
    border-color border-color-disabled
    box-shadow none

button-emp()
  button()

  min-height 40px
  padding 10px 20px
  color colorBg
  background text-color
  border bg-color solid 2px

  &:hover
    color colorBg
    background colorSec1
    border-color bg-color

  &[disabled]:not([disabled="false"])
    color colorText3
    background mix(bg-color, transparent, 40%)


button-no-fill()
  button()

  min-height 40px
  padding 10px 20px
  color colorText1
  background transparent
  border bg-color solid 2px

  &:hover
    color colorTextDark1
    background bg-color
    border-color bg-color

  &[disabled]:not([disabled="false"])
    color colorText3
    background mix(bg-color, transparent, 40%)

button-danger()
  button-emp()

  background colorError
  border-color colorError

  &:hover
    background mix(colorError, white, 70%)
    border-color mix(colorError, white, 70%)

button-success()
  button()

  color colorText3
  background mix(colorSuccess, transparent)
  border-color colorSuccess

  &:hover
    color colorText1
    border-color mix(colorSuccess, white)

