// Все цвета, используемые в проекте, должны быть тут.
// Ни в каких других файлах не должно быть цветов, указанных через #RGB (black(#000) и white(#fff) использовать можно).
// Только через зависимости от этих, например mix(colorEmp1, white).

colorEmp1 = #ff7000

colorEmpProtection = #a6a6a6
colorEmpMoney = #ffaa01
colorEmpHP = #aa1313
colorEmpPower = #ba4700
colorEmpAgility = #007529
colorEmpIntelligence = #52358f
colorEmpDamage = #eb0f0f
colorEmpHeal = #43b40a

colorSec1 = #d4b1a2

colorBg = #210e00
colorBgLight = #441e01
colorBlockBg = mix(colorSec1, transparent, 20%)
colorBlockBgDark = #000000
colorBlockBgDisabled = #3a3a3a

colorBorder = #000

colorText1 = #ffffff
colorText2 = colorSec1
colorText3 = mix(colorText1, black, 80%)
colorText4 = mix(colorText1, black, 65%)
colorText5 = mix(colorText1, black, 50%)

colorTextDark1 = #1a1a1a
colorTextDark2 = mix(colorTextDark1, white, 90%)
colorTextDark3 = mix(colorTextDark1, white, 80%)
colorTextDark4 = mix(colorTextDark1, white, 65%)
colorTextDark5 = mix(colorTextDark1, white, 50%)

colorSuccess = #54f851
colorAlert = #ffd748
colorError = #ff5556

borderRadiusL = 20px
borderRadiusM = 10px
borderRadiusS = 5px
borderRadiusXS = 2px
borderRadiusMax = 99999999999999px

mobile = unquote('max-width: 700px')
desktop = unquote('min-width: 701px')
