_font_default(font-family)
  font-family font-family
  font-display swap

@font-face
  _font_default(Inter)

  font-style normal
  src local(als-sector-bold),
    local(als sector bold),
    url("/static/fonts/Inter/Inter.ttf") format("truetype"),
    url("/static/fonts/Inter/Inter.woff") format("woff")

@font-face
  _font_default(Inter)

  font-style italic
  src local(als-sector-regular),
    local(als sector regular),
    url("/static/fonts/Inter/Inter-Italic.ttf") format("truetype"),
    url("/static/fonts/Inter/Inter-Italic.woff") format("woff")

